In [47]:
import pandas as pd
df=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/MBA.csv")
df.head()

           shrimp    almonds     avocado  ... frozen smoothie spinach olive oil
0         burgers  meatballs        eggs  ...             NaN     NaN       NaN
1         chutney        NaN         NaN  ...             NaN     NaN       NaN
2          turkey    avocado         NaN  ...             NaN     NaN       NaN
3   mineral water       milk  energy bar  ...             NaN     NaN       NaN
4  low fat yogurt        NaN         NaN  ...             NaN     NaN       NaN

[5 rows x 20 columns]

In [26]:
(x,y)=df.shape
print(x)

7500

In [62]:
columns=df.columns
columns

Index(['shrimp', 'almonds', 'avocado', 'vegetables mix', 'green grapes',
       'whole weat flour', 'yams', 'cottage cheese', 'energy drink',
       'tomato juice', 'low fat yogurt', 'green tea', 'honey', 'salad',
       'mineral water', 'salmon', 'antioxydant juice', 'frozen smoothie',
       'spinach', 'olive oil'],
      dtype='object')

Percentage of null values for one column

In [29]:
y=df['avocado'].isna().sum()
avg=(y/x)*100
avg

41.49333333333333

Percentage of null values in all columns

In [63]:
for column in df[columns]:
   columndata = df[column]
   print('Colunm Name : ', column)
   y=df[column].isna().sum()
   avg=float((y/x)*100)
   print("Percentage of null values:",avg)

Colunm Name :  shrimp
Percentage of null values: 0.0
Colunm Name :  almonds
Percentage of null values: 23.386666666666667
Colunm Name :  avocado
Percentage of null values: 41.49333333333333
Colunm Name :  vegetables mix
Percentage of null values: 55.413333333333334
Colunm Name :  green grapes
Percentage of null values: 66.29333333333334
Colunm Name :  whole weat flour
Percentage of null values: 75.16000000000001
Colunm Name :  yams
Percentage of null values: 81.76
Colunm Name :  cottage cheese
Percentage of null values: 86.93333333333332
Colunm Name :  energy drink
Percentage of null values: 91.29333333333334
Colunm Name :  tomato juice
Percentage of null values: 94.74666666666667
Colunm Name :  low fat yogurt
Percentage of null values: 96.6
Colunm Name :  green tea
Percentage of null values: 97.96000000000001
Colunm Name :  honey
Percentage of null values: 98.85333333333334
Colunm Name :  salad
Percentage of null values: 99.38666666666667
Colunm Name :  mineral water
Percentage of null values: 99.68
Colunm Name :  salmon
Percentage of null values: 99.90666666666667
Colunm Name :  antioxydant juice
Percentage of null values: 99.96000000000001
Colunm Name :  frozen smoothie
Percentage of null values: 99.96000000000001
Colunm Name :  spinach
Percentage of null values: 99.97333333333333
Colunm Name :  olive oil
Percentage of null values: 100.0